<!-- Product Banner -->
<section class="__section">
  <div class="__product-banner">
      <div class="__left">
          <img src="~/images/advert4.jpeg" alt="Advertise Featured Category 4" />
      </div>
      <div class="__right">
          <div class="__content">
              <h2>Cam kết sản phẩm luôn tươi mới</h2>
              <h1>
                  <span>Vừa tốt cho sức khoẻ lại vừa rẻ</span>
              </h1>
              <a asp-controller="Product" asp-action="Index" asp-route-category="TatCaSanPham" class="__btn">Mua ngay</a>
          </div>
      </div>
  </div>
</section>