  <!-- Testimonials -->
  <section class="__section">
    <div class="__testimonial-center __container">
        <div class="__testimonial">
            <span>&ldquo;</span>
            <p>
                Sản phẩm tươi ngon, giá cả hợp lý.
                Dịch vụ chăm sóc khách hàng tốt.
            </p>
            <div class="__rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
            </div>
            <div class="__img-cover">
              <img src="~/images/profile1.jpg" alt="Feedback profile 1" />
            </div>
            <h4>Nhã Anh</h4>
        </div>
        <div class="__testimonial">
            <span>&ldquo;</span>
            <p>
                Giao hàng nhanh và sản phẩm chất lượng.
                Gia đình tôi rất thích.
            </p>
            <div class="__rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="__img-cover">
                <img src="~/images/profile2.jpg" alt="Feedback profile 2" />
            </div>
            <h4>Anh Tùng</h4>
        </div>
        <div class="__testimonial">
            <span>&ldquo;</span>
            <p>
                Phục vụ tận tình chu đáo, giao hàng nhanh, thực phẩm tươi, tốt cho sức khoẻ.
                Sẽ tiếp tục tin tưởng ở Nông sản Bảo Lâm.
            </p>
            <div class="__rating">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bx-star"></i>
            </div>
            <div class="__img-cover">
              <img src="~/images/profile3.jpg" alt="Feedback profile 3" />
            </div>
            <h4>Nhã Thanh</h4>
        </div>
    </div>
</section>