@model BaseViewModel;

<nav class="__nav __nav-shadow">
    <div class="__navigation __container">
        <div class="__logo">
            <a style="display: flex; align-items: center;" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" width="50px" height="50px">
                <h1 class="__brand-name mx-2" style="margin-bottom: 0">Nông sản Bảo Lâm</h1>
            </a>
        </div>

        <!-- Search form -->
        <!-- <div class="d-none d-md-inline-block __search-box">
          <form method="GET" action="{{ url('tim-kiem-san-pham') }}">
            <div class="form-actions no-color">
              <button style="position: absolute; top: 32%; right: 4%; background: transparent; border: none;" type="submit"><i class='bx bx-search' style="color: black; font-size: 2rem;"></i></button>
              <input class="_form-input" type="text" name="key" value="" placeholder="Tìm kiếm theo tên"/>
            </div>
          </form>
        </div> -->
        <!-- End Search form -->

        <div class="__menu">
            <div class="__top-nav">
                <div class="__logo">
                    <a>
                        <h1>Nông sản Bảo Lâm</h1>
                    </a>
                </div>
                <div class="__close">
                    <i class="bx bx-x"></i>
                </div>
            </div>

            <ul class="__nav-list">
                <!-- Search form -->
                <!-- <li class="__nav-item">
                  <div class="d-md-none d-inline-block">
                    <form method="GET" action="{{ url('tim-kiem-san-pham') }}">
                      <div class="form-actions no-color">
                        <button style="position: absolute; top: 32%; right: 4%; background: transparent; border: none;" type="submit"><i class='bx bx-search' style="color: black; font-size: 2rem;"></i></button>
                        <input class="_form-input" type="text" name="key" value="" placeholder="Tìm kiếm theo tên"/>
                      </div>
                    </form>
                  </div>
                </li> -->
                <!-- Search form -->

                <li class="__nav-item">
                    <a class="__nav-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>

                <li class="__nav-item __hoverable" id="hoverable-el">
                    <a class="__nav-link">Sản phẩm</a>
                    <ul class="__sub-menu">
                        @{
                            var categories = Model.categories.ToList();
                            @for (int i = 0; i < categories.Count(); i++)
                            {
                                var category = categories[i];
                                <li><a asp-controller="Product" asp-action="Index" asp-route-category="@category.name">@category.displayName</a></li>
                            }
                        }
                    </ul>
                </li>

                <li class="__nav-item">
                    <a class="__nav-link " asp-controller="Account" asp-action="Index">Tài khoản</a>
                </li>

                <li class="__nav-item">
                    <a class="__nav-link" href="">Giới thiệu</a>
                </li>

                <li class="__nav-item">
                    <a class="__nav-link icon" asp-controller="Cart" asp-action="Index"><i class="bx bx-shopping-bag"></i></a>
                </li>

@*                @if (isLoggedIn)
                {

                  < li class="__nav-item">
                      <a class="__nav-link icon" asp-controller="Account" asp-action="Logout"><i class="bx bx-log-out"></i></a>
                    </li>
                }*@
            </ul>
        </div>

        <a class="__cart-icon" asp-controller="Cart" asp-action="Index">
            <i class="bx bx-shopping-bag"></i>
        </a>

        @*@if(isLoggedIn)
        {
        <a class="__cart-icon" asp-controller="Account" asp-action="Logout">
        <i class='bx bx-log-out'></i>
        </a>
        }*@

        <div class="__hamburger">
            <i class="bx bx-menu"></i>
        </div>
    </div>
</nav>