@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Shared.Clients
@model List<CategoryReadDto>

<nav class="__nav __nav-shadow">
    <div class="__navigation __container">
        <div class="__logo">
            <a style="display: flex; align-items: center;" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" width="50px" height="50px">
                <h1 class="__brand-name mx-2" style="margin-bottom: 0">Nông sản Bảo Lâm</h1>
            </a>
        </div>

        <div class="__menu">
            <div class="__top-nav">
                <div class="__logo">
                    <a>
                        <h1>Nông sản Bảo Lâm</h1>
                    </a>
                </div>
                <div class="__close">
                    <i class="bx bx-x"></i>
                </div>
            </div>

            <ul class="__nav-list">
                <li class="__nav-item">
                    <a class="__nav-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                </li>

                <li class="__nav-item __hoverable" id="hoverable-el">
                    <a class="__nav-link">Sản phẩm</a>
                    <ul class="__sub-menu">
                        @foreach (CategoryReadDto category in Model)
                        {
                            <li><a asp-controller="Product" asp-action="Index" asp-route-category="@category.name">@category.displayName</a></li>
                        }
                    </ul>
                </li>

                <li class="__nav-item">
                    <a class="__nav-link " asp-controller="Account" asp-action="Index">Tài khoản</a>
                </li>

                <li class="__nav-item">
                    <a class="__nav-link" asp-controller="Home" asp-action="About">Giới thiệu</a>
                </li>

                <li class="__nav-item">
                    <a class="__nav-link icon" asp-controller="Cart" asp-action="Index"><i class="bx bx-shopping-bag"></i></a>
                </li>

                @*@if (isLoggedIn)
                {

                  < li class="__nav-item">
                      <a class="__nav-link icon" asp-controller="Account" asp-action="Logout"><i class="bx bx-log-out"></i></a>
                    </li>
                }*@
            </ul>
        </div>

        <a class="__cart-icon" asp-controller="Cart" asp-action="Index">
            <i class="bx bx-shopping-bag"></i>
        </a>

        @*@if(isLoggedIn)
        {
        <a class="__cart-icon" asp-controller="Account" asp-action="Logout">
        <i class='bx bx-log-out'></i>
        </a>
        }*@

        <div class="__hamburger">
            <i class="bx bx-menu"></i>
        </div>
    </div>
</nav>