<div class="__wrapper" id="toast_success">
  <div id="toast">
    <div class="container-1">
        <i class='bx bx-cart'></i>
    </div>
    <div class="container-2 my-2">
        <p class="toast-sta"></p>
        <p class="toast-msg"></p>
    </div>
    <button id="close">
        <i class='bx bx-x'></i>
    </button>
  </div>
</div>

<script src="~/js/quantity-btn.js"></script>