
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_AuthenticateLayout.cshtml";
}

@model Shared.Clients.ClientRegisterDto;

<!-- --------------------- register form section -----------------  -->
<div class="_form-container" style="height: 485px">
    <div class="_form-btn">
        <span class="_form-title">Thông tin tài khoản</span>
        <hr class="_indicator">

        <form method="post" asp-action="Register">

            <input asp-for="UserName" class="_form-input" type="text" placeholder="Tên tài khoản">
            <div class="field-validation-valid text-danger" 
                data-valmsg-for="UserName" 
                data-valmsg-replace="true">
            </div>

            <input asp-for="Email" class="_form-input" type="email" placeholder="Email">
            <div class="field-validation-valid text-danger" 
                data-valmsg-for="Email" 
                data-valmsg-replace="true">
            </div>

            <input asp-for="Password" class="_form-input" type="password" placeholder="Mật khẩu">
            <div class="field-validation-valid text-danger" 
                data-valmsg-for="Password" 
                data-valmsg-replace="true">
            </div>

            <input asp-for="ConfirmPassword" class="_form-input" type="password" placeholder="Xác nhận mật khẩu">
            <div class="field-validation-valid text-danger" 
                data-valmsg-for="ConfirmPassword" 
                data-valmsg-replace="true">
            </div>

            @if (ViewBag.RegisterErrorMsg != null)
            {
                <div class="field-validation-error text-danger">
                    <span id="Register-error">@ViewBag.RegisterErrorMsg</span>
                </div>
            }

            <button type="submit" class="_btn">Đăng ký</button>

            <a asp-action="Login">Đã có tài khoản? Đăng nhập ngay</a>
        </form>
    </div>
</div>
